.container {
    background: #F0E68C;
    display: flex;
    grid: 300px 300px
    grid-template-areas: 
    "header"
    "article"
    "section"
    "footer";
    border: 2px black;
}

.box{
    width: 250px;
    height: 150px;
    border:1px black;
    background:#808080;
}
.header{
    grid-area:hd;}

.article{
    grid-area:ar;}
    
.section{
    grid-area:st;}

    .footer{
        grid-area:ft;}



