
.header{
   height: 80px;
   display: flex;
   background-color: rgb(128, 0, 30);
   text: 12 gold;
}

.logo_container{
   height: 100%;
   display: block;
   float: left;
} 
   
.logo_container h1{
   color:gold;
   height: 100%;
   padding:3px;
   display: table-cell;
   vertical-align: left;
   font-family: 'sans';
   font-size: 32px;
   font-weight: 200;
   position: relative; bottom:60px;
   left:20px;
}

.navigation{
   display: flex;
   flex-wrap: wrap;
}

.navigation a{
   height: 100%;
   float: right;
   padding: 0px 20px;
}

.navigation a li{ 
   display: flex;
   color: gold;
   text-decoration: underline;
   text-align: center;
   position: relative; bottom: 50px;
   left:180px;
   }

.search-icon{
   width:20px;
   height:20px;
   border:1px solid black;
   top:-80px;
   left:800px;
   position: relative;
   transform:rotate(-45deg);
   border-radius:100%;
}

.search-icon:before{
   content:'';
   position:absolute;
   border:1px solid black;
   height:50%;
   left:0;
   right:0;
   width:0;
   top:100%;
   margin:auto;
}

.button { 
   display: flex;
   flex-wrap: wrap;
}

.button li {
   display: flex;
}







 
 
 

